* {
	margin: 0 auto;
	padding: 0;
}

.container-wrapper {
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.nav-tab{
	display: inline-table;
}
.nav-tab li {
	list-style: none;
	float: left;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	
}
.nav-tab li a{
	text-decoration: none;
}

.nav-tab>li+li:before {
	color: #CCCCCC;
	content: "| ";
	padding: 0 5px;
}
.border-container{
	border: 1px solid #ccc;
	padding: 30px;
	-moz-box-shadow: 2px 2px 10px #909090;
	-webkit-box-shadow: 2px 2px 10px #909090;
	box-shadow:2px 2px 10px #909090;
}
.tab-content-container {
	position: absolute;
	width: 350px;
}
.qr-code-container {
	width: 200px;
}
.float-left{
	float: left;
}
.float-right{
	float:right;
}
.text-red{
	color: red;
}
.subscribe-label{
	font-weight: normal;
}
